/***
Model site for Marcos Pelaez's Portifolio. 
HTML, CSS, JAVASCRITP
2021-06-13
*/

/* Insert fonts */
@font-face {
    font-family: mono;
    src: url(../be-fonts/NovaMono-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../be-fonts/Raleway-Regular.ttf);
}

.principal{
    max-width: 980px;
    margin: 0 auto;
}

/*header*/

/* Configure Logo */
.logo{
    font-family: 'mono','Sans Serif' ;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    background-color: #eeeeee;
    box-shadow: 0 -3px 30px rgb(195, 195, 195);
    
}

/* Configure menu */

.menu{z-index: 50;}

.menu-bt, .menu-item{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: #000 solid 1px;
}

.menu-bt{font-size: 35px;}
.menu-item{font-size: 25px; display: none;}
