/***
Model site for Marcos Pelaez's Portifolio. 
HTML, CSS, JAVASCRITP
2021-06-13
*/

/* Insert fonts */
@font-face {
    font-family: mono;
    src: url(../be-fonts/NovaMono-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../be-fonts/Raleway-Regular.ttf);
}

.principal{
    max-width: 980px;
    margin: 0 auto;
}

/*header*/

/* Configure Logo */
.logo{
    font-family: 'mono','Sans Serif' ;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    background-color: #eeeeee;
    box-shadow: 0 -3px 30px rgb(195, 195, 195);
    
}

/* Configure menu */

.menu{z-index: 50;}

.menu-bt, .menu-item{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: #000 solid 1px;
    font-family: raleway, Arial, Helvetica, sans-serif;
}

.menu-bt{font-size: 35px;}
.menu-item{font-size: 22px; display: block;}

/* links menu */

#main-menu{
    display: none;
}

.menu ul li a{
    color: #000;
    text-decoration: none;
}

.menu ul li a:visited{
    color: #000;
}

.menu ul li a:hover{
    color: rgb(126, 126, 126);
}

/* Configure foto-header area */

.foto-presentation .back-opacity{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    padding-bottom: 35%;
}

.foto-presentation{        
    background-image: url(../be-img/img-mobile-400px.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-header{
    color: #fff;
}

.text-header>h1{
    font-family: mono, Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 6% 0 0 6%;
}

.text-header>p{
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 6% 0 0 6%;
}

/* content after header */
.advice, .advice2{
    width: 150px;
    height: 150px;
    background-color: rgb(187, 128, 255);
    transform: rotate(45deg);
    position: relative;
    padding: 1.5%;
    box-shadow: #000 0 0 20px;
}

.advice{ margin: 15% auto; background-color: rgb(187, 128, 255); }
.advice2{ margin: 20% auto; background-color: rgb(250, 149, 109); }

.advice-in{
    background-color: #fff;
    width: 140px;
    height: 140px;
    border: rgb(136, 136, 136) solid 3px;
}

.advice-in>h3{
    text-align: center;
    font-family: mono, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    transform: rotate(-45deg);
    margin: 45% auto;
}

#advice-text1{ color: rgb(245, 121, 107); }
#advice-text2{ color: rgb(187, 128, 255); }