/***
Model site for Marcos Pelaez's Portifolio. 
HTML, CSS, JAVASCRITP
2021-06-13
*/

/* Insert fonts */
@font-face {
    font-family: mono;
    src: url(../be-fonts/NovaMono-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../be-fonts/Raleway-Regular.ttf);
}

.principal{
    max-width: 980px;
    margin: 0 auto;
}

